<!DOCTYPE html>

<div id="contactClient" class="modal">

  <!-- Modal content -->
  <div id="contact-client-mod" class="modal-content">
    <div>
    	<label class="h4" style="color: #2c2c2c; float: left; display: inline-block;"><strong>Contact </strong>Client</label>
    	<span class="close">&times;</span>
    </div>
    <div>
    	<hr>
    	<form style="margin-bottom: 30px;">
    		<div style="margin-bottom: 15px;">
    		<label> Recipient </label>
    		<input style="width: 100%" type="text" value="jeffreystopps@gmail.com" name="">
    		</div>

    		<div style="margin-bottom: 15px;">
    		<label> Subject </label>
    		<input style="width: 100%" type="text" name="">
    		</div>

    		<div style="margin-bottom: 15px;">
    		<label> Message </label>
    		<textarea rows="4" style="width: 100%" name=""></textarea>
    		</div>

    		<div style="margin-bottom: 20px;">
			    <label>Attachments</label><p style="font-size: 12px;"> (Upload VA Grades and Resume)</p>
			    <input type="file" class="filepond" for="resume" name="resumeFile">
			</div>
    	</form>
    	<button type="button" id="createSched" style="border: none;float:right;">Send</button>
    </div>
  </div>

</div>