<!DOCTYPE html>

<div id="createClassModal" class="modal">

  <!-- Modal content -->
  <div  id="create-class-mod" class="modal-content">
    <div>
    	<label class="h4" style="color: #2c2c2c; float: left; display: inline-block;"><strong>Create </strong>Class</label>
    	<span class="close">&times;</span>
    </div>
    <div>
    	<hr>
    	<form id="createClass-form" style="margin-bottom: 30px; margin-right: 10px;display: inline-block; width: 54%; vertical-align: top;">
    		<div style="margin-bottom: 12px;">
				<label style="display: inline-block; width: 30%">Course</label>
				<select id="courseName" class="appdrop" style="width: 68%">  
					{{#each courseList}}   
					<option class="appoption dropdown-item" href="#">{{courseName}}</option>
					{{/each}}
				</select>
			</div>
			<div style="margin-bottom: 12px;">
				<label style="display: inline-block; width: 30%">Start Date</label>
				<input id="startDate" type="date">
			</div>
			<div style="margin-bottom: 12px;">
				<label style="display: inline-block; width: 30%">End Date</label>
				<input id="endDate" type="date">
			</div>
			<div style="margin-bottom: 12px;">
				<label id="timeSlot" style="display: inline-block; width: 30%">Timeslot</label>
				<input id="startTime" type="time" min="17:00" max="5:00"> - <input id="endTime" type="time" min="17:00" max="5:00">
			</div>
			<div style="margin-bottom: 12px;">
				<label id="meet-link" style="display: inline-block; width: 30%">Meeting Link</label>
				<input id="meetLink" placeholder="Meeting Link" style="width: 68%">
			</div>
    	</form>

    	<div style="display: inline-block; width:42%;">
    		<form id="uploadPhoto-form" action="/upload" method="POST" enctype="multipart/form-data">
	    	<div for="course-image" style="align-items: center;border-style: solid; border-width: 1px; border-color: #ebf5ee; overflow: hidden; vertical-align: top;">
	    		{{!-- <img class="preview-images" style="max-width: 320px; max-height: 170px;" src="/assets/img/hr-admin-pic.jpg"> --}}
	    		<img class="preview-images" style="max-width: 320px; max-height: 170px;">
	    	</div>
	    		<button type="button" class="outlined-btn" style="margin: 2px;">
				<i class="material-icons" style="margin: 0 auto; position: relative; top: 2px; font-size: 12px;">upload</i>
				<input id="classPhoto" type="file">
				<label style="margin-left: 3px;">Upload Course Photo</button>
			</form>
    	</div>

    	<button type="button" id="createClass" style="display: block; border: 1px solid #6dc63f;">Save</button>
    </div>
  </div>
</div>