<!DOCTYPE html>

<div id="editClassModal" class="modal">

  <!-- Modal content -->
  <div  id="edit-class-mod" class="modal-content">
    <div>
    	<label class="h4" style="color: #2c2c2c; float: left; display: inline-block;"><strong>Edit </strong>Class</label>
    	<span class="close">&times;</span>
    </div>
    <div>
    	<hr>
    	<form id="editClass-form" style="margin-bottom: 30px; margin-right: 10px;display: inline-block; width: 54%; vertical-align: top;">
    		<div style="margin-bottom: 12px;">
				<label style="display: inline-block; width: 30%">Course</label>
				<select id="courseName" class="appdrop" style="width: 68%">  
					{{#each courseList}}   
					<option class="appoption dropdown-item" href="#">{{courseName}}</option>
					{{/each}}
				</select>
			</div>
			<div style="margin-bottom: 12px;">
				<label style="display: inline-block; width: 30%">Start Date</label>
				<input id="startDate" type="date">
			</div>
			<div style="margin-bottom: 12px;">
				<label style="display: inline-block; width: 30%">End Date</label>
				<input id="endDate" type="date">
			</div>
			<div style="margin-bottom: 12px;">
				<label id="timeSlot" style="display: inline-block; width: 30%">Timeslot</label>
				<input id="startTime" type="time" min="17:00" max="5:00"> - <input id="endTime" type="time" min="17:00" max="5:00">
			</div>
			<div style="margin-bottom: 12px;">
				<label id="meet-link" style="display: inline-block; width: 30%">Meeting Link</label>
				<input id="meetLink" placeholder="Meeting Link" style="width: 68%">
			</div>
    	</form>

    	<div style="display: inline-block; width:42%;">
	    	<div for="course-image" style="align-items: center;border-style: solid; border-width: 1px; border-color: #ebf5ee; overflow: hidden; vertical-align: top;">
	    		<img style="max-width: 320px; max-height: 170px;" src="/assets/img/hr-admin-pic.jpg">
	    	</div>
	    		<button type="button" class="outlined-btn" style="margin: 2px;"><i class="material-icons" style="margin: 0 auto; position: relative; top: 2px; font-size: 12px;">upload</i><label style="margin-left: 3px;">Upload Course Photo</button>
    	</div>
    	<button type="button" id="updateClass" style="border: 1px solid #6dc63f;">Save</button>
		<button type="button" id="deleteClass" style="border: 1px solid red; background: none; color: red;">Delete</button>
    </div>
  </div>
</div>