<input id="viewGLegend" class="collapsible-check toggle" type="checkbox">
<label for="viewGLegend" class="lbl-toggle" tyle="background-color: #fff; color: #6dc63f; border: solid 1px;border-color: #6dc63f;">View Grade Legend</label>
<div class="collapsible-content" style="font-size: 12px;margin-left: 15px;">
        <table style="line-height: 1">
                <tbody>
                	<tr>
                		<td style="width:20%"><strong> 10-9</strong> </td>
                		<td style="width:80%">Outstanding</td>
                	</tr>
                	<tr>
                		<td style="width:20%"><strong> 8-7</strong> </td>
                		<td style="width:80%">Very Satisfactory</td>
                	</tr>
                	<tr>
                		<td style="width:20%"><strong> 6-5</strong> </td>
                		<td style="width:80%">Satisfactory</td>
                	</tr>
                	<tr>
                		<td style="width:20%"><strong> 4-3</strong> </td>
                		<td style="width:80%">Below Satisfactory</td>
                	</tr>
                	<tr>
                		<td style="width:20%"><strong> 2-0</strong> </td>
                		<td style="width:80%">Poor</td>
                	</tr>
                </tbody>
        </table>
</div>