<!DOCTYPE html>

<nav class="navbar navbar-light navbar-expand-md" style="background-color: #009444;padding: 4px;">
    <div class="container-fluid">
        <div class="process-label">
            <img src="/assets/img/tvh-logo-white.png" style="margin: 0 8px;height: 40px;">
            <label style="color: white;margin: 10px;"><strong>|</strong></label>
            <label class="process-ind" style="font-size: 14px;">Application</label>
        </div>
        <button data-toggle="collapse"
            class="navbar-toggler" data-target="#navcol-1" style="background: #009444;"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto" style="font-size: 14px;">
                <li class="nav-item" id="hr-home">
                    <a class="nav-link active" href="/" style="color: #f0f0f0e6;">Home</a>
                </li>
                <li class="nav-item" id="hr-screening">
                    <a class="nav-link" href="/hr-screening" style="color: #f0f0f0e6;">Screening</a>
                </li>
                <li class="nav-item" id="hr-schedule">
                    <a class="nav-link" href="/hr-schedule" style="color: #f0f0f0e6;">Schedule</a>
                </li>
                <li class="nav-item dropdown" id="hradmin-drop">
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#" style="color: #f0f0f0e6;">Admin</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="/application-reports">Reports</a>
                        <div>
                            <form method="POST" action="/logout">
                                  <input type="hidden" name="name" value="value" /> 
                                    <a onclick="this.parentNode.submit();" class = "dropdown-item">
                                        Logout
                                    </a>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>