<!DOCTYPE html>

<div id="intervModal" class="int-details modal">
	<!-- Modal content -->
  <div id="int-dets" class="modal-content">
    <div>
    	<label class="h4" style="color: #2c2c2c; float: left; display: inline-block;"><strong>Interview Details</strong></label>
    	<span class="close">&times;</span>
    </div>
    <div style="display: inline-block; vertical-align: bottom; margin-bottom: 25px;">
		
		<input id="modal-applicID" type=hidden>
		<input id="modal-intervPhase" type=hidden>

    	<hr>
        <table style="line-height: 1.5; width: 100%;">
                <tbody>
                	<tr>
                		<td style="width:25%"><strong> Applicant </strong></td>
                		<td id="modal-applicName" style="width:75%"> </td>
                	</tr>
                	<tr>
                		<td style="width:25%"><strong> Schedule </strong></td>
                		<td id="modal-schedule" style="width:75%"> </td>
                	</tr>
                	<tr>
                		<td style="width:25%"><strong> Resume </strong></td>
                		<td id="modal-resume" style="width:75%">
							<div id="modal-resumeBtn" class="outlined-btn d-inline" style="color: #2b2b2b; border-color: #2b2b2b;">
							<i class="fa fa-eye" style="margin-right: 5px;"></i><label>View</label></div>
						</td>
	
                	</tr>
                	<tr>
                		<td style="width:25%"><strong> Meeting Link</strong> </td>
                		<td id="modal-meetLink"style="width:75%"></td>
                	</tr>
                </tbody>
        </table>
        <div style="margin: 20px 10px 0px 20px;">
			<button type="button" id="btn-Interviewed" style="border: none;float:right;">Done</button>
		</div>
    </div>
  </div>
</div>

<div id="dialog" style="display: none">
</div>