<!DOCTYPE html>

<input id="viewSLegend" class="collapsible-check toggle" type="checkbox">
<label for="viewSLegend" class="lbl-toggle">View Skills Legend</label>
<div class="collapsible-content" style="font-size: 12px;margin-left: 15px;">
        <table style="line-height: 1">
                <tbody>
                	<tr>
                		<td style="width:20%"><strong> VC</strong> </td>
                		<td style="width:80%">Verbal Communication</td>
                	</tr>
                	<tr>
                		<td style="width:20%"><strong> WC</strong> </td>
                		<td style="width:80%">Written Communication</td>
                	</tr>
                	<tr>
                		<td style="width:20%"><strong> CR</strong> </td>
                		<td style="width:80%">Compliance to Rules</td>
                	</tr>
                	<tr>
                		<td style="width:20%"><strong> AS</strong> </td>
                		<td style="width:80%">Analytical Skills</td>
                	</tr>
                	<tr>
                		<td style="width:20%"><strong> TS</strong> </td>
                		<td style="width:80%">Technical Skills</td>
                	</tr>
                </tbody>
        </table>
</div>