<!DOCTYPE html>
<html>
<head>
    <title>The VA Hub</title>

    <!-- add icon link -->
    <link rel="icon" href="assets/img/tvh-logo-square.png"> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <!--script files-->
	<script src="assets/js/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/main.min.js"></script> <!--calendar-->
    <script src="assets/js/scripts.js"></script> <!--general-->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/validator.min.js"></script>

	<!-- for FILEPOND -->
	<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
	
	
    <!--css files-->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Kanit:200" rel="stylesheet">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/main.min.css"> <!--calendar-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    <link rel="stylesheet" href="assets/css/app-styles.css">
    <link rel="stylesheet" href="assets/css/error.css">
    <link rel="stylesheet" href="assets/css/collapsible-div.css">
    <link rel="stylesheet" href="assets/css/custom-calendar.css">
    <link rel="stylesheet" href="assets/css/modal.css">
    <link rel="stylesheet" href="assets/css/styles.css">

</head>
<body>

     {{{body}}}
     
    <p class="footer">© 2021 TVH System · Developed by Calamanci</p>


	<!-- for FILEPOND -->
	<script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
	<script src="https://unpkg.com/filepond/dist/filepond.js"></script>  
	
	<!-- Turn all file input elements into ponds -->
	<script>
		// Register the plugin
		FilePond.registerPlugin(FilePondPluginFileEncode);
		FilePond.parse(document.body);
	</script>

</body>
    <script src="assets/js/app-scripts.js"></script> <!--application script file-->
    <script src="assets/js/modal.js"></script>

	
</html>
