<!DOCTYPE html>

{{> trainee-navbar}}

<div style="padding: 70px 20px 20px 20px;">
    <div><label class="h2" style="padding: 5px;color: #2c2c2c;"><strong>Deactivate</strong> your account</label>
        <div class="text-right d-inline-block float-right" style="margin: 0px 5px;padding: 5;"></div>
        <hr>
    </div>
    <div style="background-color: #efefef; border-radius: 18px; width: 75%; height: 55%; padding: 20px; margin: 40px auto; overflow: auto">
        <p>
        Hi <strong>{{fName}}</strong>, <br><br>

        We’re sorry to hear you’d like to deactivate your account. <br><br>

        If you think you will no longer use your account and would like your account deactivated, we can take care of this for you. Keep in mind that you will not be able to reactivate your account or retrieve any of the content or information you have added. <br><br>

        After proceeding, you will have no longer be able to login to the system. In addition, your account will no longer be active and our name will be removed from any class you have enrolled in. <br><br>
        </p>
        <div style="margin-bottom: 24px;">
            <label id="deactivation-rsn" style="font-weight: bold">Why are you deleting your account?</label>
            <select for="deactivation-rsn" class="appdrop" style="width: 50%;">    
                <option class="appoption dropdown-item" href="#">Change of plans</option>
                <option class="appoption dropdown-item" href="#">Incompatible schedule</option>
                <option class="appoption dropdown-item" href="#">Missed multiple classes</option>
                <option class="appoption dropdown-item" href="#">Others</option>
            </select>
        </div>
        <div style="float: right;">
            <button
                class="btn btn-primary d-inline-flex" type="button" id="deact-btn" style="background: #ffffff;border-radius: 10px;margin: 3px;color: #cd201f;border-width: 2px;border-color: #cd201f;text-align: center;">Deactivate</button>
            <button class="btn btn-primary d-inline-flex" type="button" style="background: #009444;border-radius: 10px;margin: 3px;text-align: center;"><a href="/" style="color: #fff">Cancel</a></button>
        </div>
    </div>
</div>