<!DOCTYPE html>

{{> trainer-navbar}}

<div style="padding: 70px 20px 20px 20px;">
	
    <div style="width: 98%;">
    	<div class="detailed-report">
    		<a href="#">< Go back to summary</a>
    		<div style="text-align: center; margin-bottom: 10px;">
		    	<label class="h3" style="padding: 5px;color: #2c2c2c;"> <strong>Class # Detailed Report</strong></label> <br>
		    	<label>Date: MM/DD/YYYY - MM/DD/YYYY</label> <br>
		    	<label>Trainer: Rudolf</label> <br>
		    	<label>Course: Marketing</label> <br>
		    </div>
		    <!--table -->
		    <div class="table-responsive" style="width: 98%; margin: 00px auto;">
		        <table class="table table-bordered" style="font-family: Raleway; font-size: 14px; background-color: #fff;">
		            <thead>
		            	<tr style="background: #efefef;color: rgb(0,148,68);">
		            		<th style="width: 15%;">Trainee ID</th>
		                    <th style="width: 25%;">Full Name</th>
		                    <th style="width: 15%;">Training Status</th>
		            		<th style="width: 10%;">Final Average</th>
		            		<th style="width: 10%;">Remarks</th>
		            	</tr>

		            </thead>
		            <tbody>
					<!--for each trainee-->
		                <tr>
		                    <td> trainee Name </td>
		                    <td></td>
		                    <td></td>
		                    <td></td>
		                    <td></td>
		                </tr>
		            </tbody>
		        </table>
		    </div>
		     <p class="page-footer">Page 1 of 1</p>
    	</div>
    </div>
</div>