<!DOCTYPE html>

<div class="appForm-clean">
	<div class="form-style" style="margin-left: 100px auto;">
		<h1>Your application was<br>submitted successfully!</h1>
		<p style="color: #2b2b2b;text-align: center; display: block; margin-bottom: 10px;">Thank you for showing interest in The VA Hub.</p>
	</div>
</div>