<!DOCTYPE html>

{{> int-navbar}}

<div style="padding: 70px 20px 20px 20px;">
    <div><label class="h2 applicant-phase" style="padding: 5px;color: #2c2c2c;"><strong>Applicants List:&nbsp;</strong>{{intervPhase}} Phase</label></div>
    <hr>
    <div class="d-inline-block">
        <label class="d-inline-block" style="padding: 3px 10px;"><strong>&nbsp;Filter</strong></label>
        <div class="form-check d-inline-block" style="margin: 5px;"><input class="form-check-input" type="checkbox" id="display-all"><label class="form-check-label" for="display-all">All</label></div>
        <div class="form-check d-inline-block" style="margin: 5px;"><input class="form-check-input" type="checkbox" id="display-done"><label class="form-check-label" for="display-done">Done</label></div>
        <div class="form-check d-inline-block" style="margin: 5px;"><input class="form-check-input" type="checkbox" id="display-pending"><label class="form-check-label" for="display-pending">Pending</label></div>
    </div>
    <button type="button" id="createClassMod" style="border: none;display:flex; margin-bottom: 10px; float: right; box-shadow: 1px 1px 5px rgba(0,0,0,0.2)" disabled="true">Save changes</label></button>
    <div>
        <div class="table-responsive table-bordered">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="font-size: 14px;background: #efefef;color: rgb(0,148,68);width: 20%;">Name</th>
                        <th style="font-size: 14px;background: #efefef;color: rgb(0,148,68);width: 35%;">System Requirements</th>
                        <th style="font-size: 14px;background: #efefef;color: rgb(0,148,68);width: 15%;">CV/Resume</th>
                        <th style="font-size: 14px;background: #efefef;color: rgb(0,148,68);width: 20%;">Status</th>
                    </tr>
                </thead>
                <tbody style="font-size: 14px;">
					{{#each applicants}}
						<tr style="font-size: 14px;">
							<td style="font-size: 14px;"> {{genApplicName this}} </td>
							<td style="font-size: 14px;"> {{this.sys_reqs}} </td>
							<td style="font-size: 14px;">
								<div class="outlined-btn d-inline" style="color: #2b2b2b; border-color: #2b2b2b;"><i class="fa fa-eye" style="margin-right: 5px;"></i><label>View</label></div>
								<div id="res-downloadBtn" onclick="downloadFile('{{{this.applicantID}}}')" class="outlined-btn d-inline"  style="color: #2b2b2b; border-color: #2b2b2b;"><i class="fa fa-download" style="margin-right: 5px;margin-left: 7px;"></i><label>Download</label></div>
							</td>
							<td style="font-size: 14px;">
								<div class="form-check d-inline-block" style="padding-right: 10px;"><input class="form-check-input radiobtn-pass" id="applicant-pass" type="radio"><label class="form-check-label" for="applicant-pass" style="font-size: 12px;">Pass</label></div>
								<div class="form-check d-inline-block" style="padding-right: 10px;"><input class="form-check-input radiobtn-fail" id="applicant-fail" type="radio"><label class="form-check-label" for="applicant-fail" style="font-size: 12px;">Fail</label></div>
							</td>
						</tr>
					{{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>