<!DOCTYPE html>

{{> int-navbar}}

<div style="padding: 70px 20px 20px 20px;">
    <div>
    	<label class="h2" style="padding: 5px;color: #2c2c2c;"><strong>Schedule </strong></label>

    	<!-- temporary viewer of interview-details because wala pang schedules (plz use these format for schedules) -->
    	<button type="button" class="myBtn" style="border: none;display:flex; margin-bottom: 10px; box-shadow: 1px 1px 5px rgba(0,0,0,0.2)" href=".int-details">temp view sched</button>
    	{{> interview-details}}

    	<button type="button" class="myBtn" style="border: none;display:flex; margin-bottom: 10px; box-shadow: 1px 1px 5px rgba(0,0,0,0.2)" href=".int-details">temp view sched</button>
    	{{> interview-details}}

    	<!-- temp -->
    	
    </div>
    <hr>
    <div style="width: 100%; margin: 10px auto;">
    	<div id="calendar"></div>
    </div>
</div>