<!DOCTYPE html>

{{> int-navbar}}

<div style="padding: 20px;">
    <div>
    	<label class="h2" style="padding: 5px;color: #2c2c2c;"><strong>Schedule </strong></label>
    </div>
    <hr>
    <div style="width: 100%; margin: 10px auto;">
    	<div id="calendar"></div>
    </div>
</div>