<!DOCTYPE html>

<div class="modal">
	  <!-- Modal content -->
  <div  id="create-class-mod" class="modal-content">
    <div>
    	<label class="h4" style="color: #2c2c2c; float: left; display: inline-block;"><strong>Interview Details </strong></label>
    	<span class="close">&times;</span>
    </div>
    <div>
    	hello
    </div>
  </div>
</div>