<!DOCTYPE html>
<title>The VA Hub Log In</title>

<div class="login-clean" style="min-height: 100%; background: #ebf5ee;">
    <form method="post" id="login-frm" method="POST" action="/login-test">
        <h2 class="sr-only">Login Form</h2>
        <div class="illustration"><img src="assets/img/tvh-logo-square.png" style="height: 120px;"></div>
        <div class="form-group">
        	<input class="form-control" type="email" id="email" name="email" placeholder="Email">
        	<p id="emailError" class="error"> {{emailError}} </p>
        </div>
        <div class="form-group">
        	<input class="form-control" type="password" id="password" name="password" placeholder="Password">
        	<p id="pwError" class="error"> {{pwError}} </p>
        </div>
        <div class="form-group">
        	<button class="btn btn-primary btn-block" id="login-btn" type="button" style="background: #6dc63f;">Log In</button>
        </div>
        <a class="forgot" href="/application">No account yet? Apply here.</a></form>
</div>
