<!DOCTYPE html>

{{> sales-navbar}}

<div style="padding: 70px 20px 20px 20px;">
	<div><label class="h2 applicant-phase" style="padding: 5px;color: #2c2c2c;"><strong>The VA Hub </strong>Clients</label></div>
    <hr>
    <div class="table-responsive table-bordered">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="font-size: 14px;background: #efefef;color: rgb(0,148,68);width: 25%;">Looking For</th>
                        <th style="font-size: 14px;background: #efefef;color: rgb(0,148,68);width: 25%;">Name</th>
                        <th style="font-size: 14px;background: #efefef;color: rgb(0,148,68);width: 30%;">Company</th>
                        <th style="font-size: 14px;background: #efefef;color: rgb(0,148,68);width: 20%;"></th>
                    </tr>
                </thead>
                <tbody style="font-size: 14px;">
                    <tr style="font-size: 14px;">
                        <td style="font-size: 14px;">
                        	Real Estate VA
                        </td>
                        <td style="font-size: 14px;">
                        	Jeffrey Stoops
                        </td>
                        <td style="font-size: 14px;">
                            SBA Communications
                        </td>
                        <td style="font-size: 14px; text-align: center">
                            <button  type="button" class="myBtn" style="padding-right: 22px; padding-left: 22px;" href="#contactClient">Contact</button>
                            <!-- modal here-->
                            {{> contact-client-modal}}
                        </td>
                    </tr>
                    <tr style="font-size: 14px;">
                        <td style="font-size: 14px;">
                            Real Estate VA
                        </td>
                        <td style="font-size: 14px;">
                            Timothy J Naughton
                        </td>
                        <td style="font-size: 14px;">
                            AvalonBay Communities
                        </td>
                        <td style="font-size: 14px; text-align: center">
                            <button  type="button" class="myBtn" style="padding-right: 22px; padding-left: 22px;" href="#contactClient">Contact</button>
                            <!-- modal here-->
                            {{> contact-client-modal}}
                        </td>
                    </tr>
                    <tr style="font-size: 14px;">
                        <td style="font-size: 14px;">
                            Real Estate VA
                        </td>
                        <td style="font-size: 14px;">
                            Mark J. Parrell
                        </td>
                        <td style="font-size: 14px;">
                            Equity Residential
                        </td>
                        <td style="font-size: 14px; text-align: center">
                            <button  type="button" class="myBtn" style="padding-right: 22px; padding-left: 22px;" href="#contactClient">Contact</button>
                            <!-- modal here-->
                            {{> contact-client-modal}}
                        </td>
                    </tr>
                    <tr style="font-size: 14px;">
                        <td style="font-size: 14px;">
                            Real Estate VA
                        </td>
                        <td style="font-size: 14px;">
                            Thomas J. DeRosa
                        </td>
                        <td style="font-size: 14px;">
                            Welltower
                        </td>
                        <td style="font-size: 14px; text-align: center">
                            <button  type="button" class="myBtn" style="padding-right: 22px; padding-left: 22px;" href="#contactClient">Contact</button>
                            <!-- modal here-->
                            {{> contact-client-modal}}
                        </td>
                    </tr>
                    <tr style="font-size: 14px;">
                        <td style="font-size: 14px;">
                            Marketing VA
                        </td>
                        <td style="font-size: 14px;">
                            Joseph D. Russell Jr.
                        </td>
                        <td style="font-size: 14px;">
                            Public Storage
                        </td>
                        <td style="font-size: 14px; text-align: center">
                            <button  type="button" class="myBtn" style="padding-right: 22px; padding-left: 22px;" href="#contactClient">Contact</button>
                            <!-- modal here-->
                            {{> contact-client-modal}}
                        </td>
                    </tr>
                    <tr style="font-size: 14px;">
                        <td style="font-size: 14px;">
                            Real Estate VA
                        </td>
                        <td style="font-size: 14px;">
                            David Simon
                        </td>
                        <td style="font-size: 14px;">
                            Simon Property Group
                        </td>
                        <td style="font-size: 14px; text-align: center">
                            <button  type="button" class="myBtn" style="padding-right: 22px; padding-left: 22px;" href="#contactClient">Contact</button>
                            <!-- modal here-->
                            {{> contact-client-modal}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>