<!DOCTYPE html>

{{> trainer-navbar}}

<div style="padding: 70px 20px 20px 20px;">
    <div>
    	<label class="h3" style="padding: 5px;color: #2c2c2c;"><a href="/trainee-classes">Classes</a> > <strong>Class Section</strong></label>
        <hr>
    </div>
    <div>
        <div name="class_dets"  style="width: 100%; display: block; margin-bottom: 20px;">
        	<div style="display: inline-block;padding: 5px;">
        		Real Estate<br>
        		# of Trainees<br>
        		September 10 - 18, 2020<br>
        		8AM - 5PM<br>
        		Meeting Link<br>
        	</div>
        	</div>
        </div>
        <div name="scoresheet" style="padding: 5px;">
        	<label class="h4" style="color: #2c2c2c;"><strong>Trainees</strong></label> 
        	<button type="button" class="outlined-btn" style="margin: 2px;" onclick="">Edit</button>
        	<button type="button" style="float: right; border: none; display:inline-block; margin-left: 5px; box-shadow: 1px 1px 5px rgba(0,0,0,0.2)">Update Scoresheet</button>
        	<div class="table-responsive" style="width: 100%; margin-top: 20px;">
		        <table class="table table-bordered" style="font-family: Raleway; font-size: 14px; background-color: #fff;">
		            <thead>
		            	<tr style="background: #efefef;color: rgb(0,148,68);">
		            		<th rowspan="2" style="width: 25%;">Full Name</th>
		                    <th rowspan="2" style="width: 20%;">E-mail</th>
		            		<th colspan="8" style="width: 40%;">Averages</th>
		            		<th rowspan="2" style="width: 10%;">Final Average</th>
		            	</tr>
		                <tr style="background: #efefef;color: rgb(0,148,68);">
		                    <th style="width: 5%;">Day 1</th>
		                    <th style="width: 5%;">Day 2</th>
		                    <th style="width: 5%;">Day 3</th>
		                    <th style="width: 5%;">Day 4</th>
		                    <th style="width: 5%;">Day 5</th>
		                    <th style="width: 5%;">Day 6</th>
		                    <th style="width: 5%;">Day 7</th>
		                    <th style="width: 5%;">Day 8</th>
		                </tr>
		            </thead>
		            <tbody>
					<!--for each trainee-->
		                <tr>
		                    <td> trainee Name </td>
		                    <td></td>
		                    <td></td>
		                    <td></td>
		                    <td></td>
		                    <td></td>
		                    <td></td>
		                    <td></td>
		                    <td></td>
		                    <td></td>
		                    <td></td>
		                </tr>
		            </tbody>
		        </table>
		    </div>
        </div>
    </div>
</div>