<!DOCTYPE html>

{{> trainer-navbar}}

<div style="padding: 70px 20px 20px 20px;">
	<div><label class="h2" style="padding: 5px;color: #2c2c2c;"><strong>Trainer </strong>Schedule</label></div>
    <hr>
    <div style="width: 15%; float: left;">
    	<div style="margin-bottom: 25px;">
    		<label style="font-weight: bold; font-size: 18px; margin-bottom: 25px;">Classes </label>
    		<div id="TRSched" style="margin-left: 20px">

			</div>
		</div>
	</div>
	<!-- Calendar -->
    <div style="width: 85%; float: right;">
    	<div id="tr-calendar"></div>
    </div>
</div>