<!DOCTYPE html>

{{> trainer-navbar}}

<div style="padding: 70px 20px 20px 20px;">
	<div><label class="h2" style="padding: 5px;color: #2c2c2c;"><strong>Schedule </strong>Interviews</label></div>
    <hr>
    <div style="width: 15%; float: left;">
    	<div style="margin-bottom: 25px;">
    		<label style="font-weight: bold; font-size: 18px; margin-bottom: 25px;">Classes </label>
    		<div style="margin-left: 20px">
	        		<div class="sched-list">
	                    <input class="form-check-input" type="checkbox">
	    				<label class="form-check-label" for="formCheck-1" style="font-size: 14px;">Class id</label>
					</div>
					<div class="sched-list">
	                    <input class="form-check-input" type="checkbox">
	    				<label class="form-check-label" for="formCheck-1" style="font-size: 14px;">Class id</label>
					</div>
					<div class="sched-list">
	                    <input class="form-check-input" type="checkbox">
	    				<label class="form-check-label" for="formCheck-1" style="font-size: 14px;">Class id</label>
					</div>
			</div>
		</div>
	</div>
	<!-- Calendar -->
    <div style="width: 85%; float: right;">
    	<div id="calendar"></div>
    </div>
</div>