<!DOCTYPE html>

{{> trainee-navbar}}

<div style="padding: 20px;">
    <div><label class="h2" style="padding: 5px;color: #2c2c2c;"><strong>Classes</strong></label>
        <div class="text-right d-inline-block float-right" style="margin: 0px 5px;padding: 5;"></div>
        <hr>
    </div>
    <div id="trainer-classes">
        <div class="shadow-sm d-inline-block class-card">
            <div style="margin-right: 20px;margin-left: 20px;margin-top: 20px;height: 60%;"><img style="min-width: 310px;min-height: 140px;margin: 0 auto;border-color: none;" alt="image" src="assets/img/hr-admin-pic.jpg" width="310px" height="140px">
                <hr>
            </div>
            <div class="class-card-det" style="color: rgb(0,0,0);background: rgba(247,247,247,0);height: 30%;">
                <div class="d-flex" style="padding-right: 20px;padding-left: 20px;padding-top: 20px;"><label class="d-inline class-nbr" style="margin-right: 30px;width: 30%;font-size: 14px;"><strong>Class No.</strong></label><label class="d-inline class-nbr" style="margin-right: 30px;width: 50%;font-size: 14px;"><strong>Course Name</strong></label></div>
                <div
                    class="d-flex float-left" style="padding-right: 20px;padding-left: 20px;width: 80%;"><label class="d-inline class-nbr" style="margin-right: 30px;width: 43%;font-size: 12px;">Schedule</label><label class="d-inline class-nbr" style="margin-right: 30px;width: 40%;font-size: 12px;">Trainer Name</label></div>
            <div></div>
        </div>
    </div>
</div>
</div>