<!DOCTYPE html>

{{> trainee-navbar}}

<div style="padding: 20px;">
    <div class="d-flex" style="margin: 20px;width: 100%;"><img class="rounded-circle d-block float-left" width="200px" height="200px" style="margin: 20px;" src="/assets/img/default-photo.jpg">
        <div class="d-inline float-left d-xl-flex justify-content-xl-start align-items-xl-center"><label class="d-flex h2" style="padding: 5px;color: #2c2c2c;"><strong>Trainee Name</strong></label><label class="d-flex" style="color: rgb(0,0,0);padding: 5px;">#TRAINEEID</label></div>
        <div class="text-right d-inline-block float-right" style="margin: 0px 5px;padding: 5;"></div>
    </div>
    <hr class="d-flex">
    <div class="table-responsive" style="width: 95%; margin: 00px auto;">
        <table class="table table-bordered table-hover" style="font-family: Raleway; font-size: 14px; background-color: #fff;">
            <thead>
                <tr style="background: #efefef;color: rgb(0,148,68);">
                    <th style="width: 10%;">Section</th>
                    <th style="width: 15%;">Course</th>
                    <th style="width: 35%;">Schedule</th>
                    <th style="width: 25%;">Trainer</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> section </td>
                    <td> course </td>
                    <td> sched </td>
                    <td> trainer </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>