<!DOCTYPE html>

{{> trainee-navbar}}

<div style="background: url('/assets/img/trainee-pic.jpeg') no-repeat center fixed; background-size: cover; overflow: hidden; width: 100%; height: 100%;">
    <div class="jumbotron" style="width: 45%; margin: 0 auto; padding: 35px; text-align: center; position: relative; top: 100px;">
    	<h2 style="padding-bottom: 20px;">Welcome, <strong>trainee!</strong></h2>
        <p style="padding-bottom: 20px;">The VA Hub Training is a system made to streamline TVH’s classes and all trainee information. View your classes and your grades here. We wish you luck! For more information, visit <a href="http://thevahub.org">thevahub.org<a></p>
        <!-- change to display: none; when no class -->
        <div style="display: block;">
	        <p>Your class is starting soon.</p>
	        <div style="align-items: center;">
	        	<button type="button" style="border: none;display: inline-block; margin-bottom: 10px; box-shadow: 1px 1px 5px rgba(0,0,0,0.2)" onclick="window.location.href='#'">Go to class</button>
	        </div>
	    </div>    
    </div>
</div>