<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>thevahub</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Bootstrap-4-Calendar-No-Custom-Code.css">
    <link rel="stylesheet" href="assets/css/Bootstrap-Calendar.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/untitled-1.css">
    <link rel="stylesheet" href="assets/css/untitled-2.css">
    <link rel="stylesheet" href="assets/css/untitled-3.css">
    <link rel="stylesheet" href="assets/css/untitled-4.css">
    <link rel="stylesheet" href="assets/css/untitled-5.css">
    <link rel="stylesheet" href="assets/css/untitled-6.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
</head>

<body style="background: #ffffff;color: rgb(255,255,255);">
    <nav class="navbar navbar-light navbar-expand-md" style="background-color: #009444;padding: 4px;">
        <div class="container-fluid">
            <div class="process-label"><img src="assets/img/tvh-logo-white.png" style="margin: 0 8px;height: 40px;"><label style="color: white;margin: 10px;"><strong>|</strong></label><label class="process-ind" style="font-size: 14px;">Training</label></div><button data-toggle="collapse"
                class="navbar-toggler" data-target="#navcol-1" style="/*height: 70px;*/background: #009444;"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto" style="font-size: 14px;">
                    <li class="nav-item" id="hr-home"><a class="nav-link active" href="#" style="color: #f0f0f0e6;">Home</a></li>
                    <li class="nav-item" id="screening"><a class="nav-link" href="trainer-classes" style="color: #f0f0f0e6;">Classes</a></li>
                    <li class="nav-item" id="hr-schedule"></li>
                    <li class="nav-item dropdown" id="hradmin-drop"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#" style="color: #f0f0f0e6;">Trainee</a>
                        <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="trainee-profile">Profile</a><a class="dropdown-item" href="deactivate">Deactivate</a><a class="dropdown-item" href="#">Logout</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div style="padding: 20px;">
        <div class="d-flex" style="margin: 20px;width: 100%;"><img class="rounded-circle d-block float-left" width="200px" height="200px" style="margin: 20px;" src="assets/img/hr-admin-pic.jpg">
            <div class="d-inline float-left d-xl-flex justify-content-xl-start align-items-xl-center"><label class="d-flex h2" style="padding: 5px;color: #2c2c2c;"><strong>Trainee Name</strong></label><label class="d-flex" style="color: rgb(0,0,0);padding: 5px;">#TRAINEEID</label></div>
            <div class="text-right d-inline-block float-right" style="margin: 0px 5px;padding: 5;"></div>
        </div>
        <div></div>
        <hr class="d-flex">
        <div></div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>