<!DOCTYPE html>

<nav class="navbar navbar-light navbar-expand-md" style="background-color: #009444;padding: 4px;">
    <div class="container-fluid">
        <div class="process-label"><img src="assets/img/tvh-logo-white.png" style="margin: 0 8px;height: 40px;"><label style="color: white;margin: 10px;"><strong>|</strong></label><label class="process-ind" style="font-size: 14px;">Training</label></div><button data-toggle="collapse"
            class="navbar-toggler" data-target="#navcol-1" style="/*height: 70px;*/background: #009444;"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto" style="font-size: 14px;">
                <li class="nav-item" id="hr-home"><a class="nav-link active" href="#" style="color: #f0f0f0e6;">Home</a></li>
                <li class="nav-item" id="screening"><a class="nav-link" href="trainer-classes" style="color: #f0f0f0e6;">Classes</a></li>
                <li class="nav-item" id="hr-schedule"><a class="nav-link" href="trainer-schedule" style="color: #f0f0f0e6;">Schedule</a></li>
                <li class="nav-item dropdown show" id="hradmin-drop"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="true" href="#" style="color: #f0f0f0e6;">Trainer</a>
                    <div class="dropdown-menu dropdown-menu-right show"><a class="dropdown-item" href="trainer-profile">Profile</a><a class="dropdown-item" href="#">Logout</a></div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div style="padding: 20px;">
    <div><label class="h2" style="padding: 5px;color: #2c2c2c;"><strong>Classes</strong></label>
        <div class="text-right d-inline-block float-right" style="margin: 0px 5px;padding: 5;"><i class="fa fa-plus" style="color: #6dc63f;padding: 4px 6px;font-size: 12px;border-radius: 8px;border-width: 2px;border-style: solid;background: #ffffff;"></i><label style="color: rgb(0,0,0);padding: 3px;margin: 0 auto;font-size: 14px;">Create Class</label></div>
        <hr>
    </div>
    <div id="trainer-classes">
        <div class="shadow-sm d-inline-block class-card">
            <div style="margin-right: 20px;margin-left: 20px;margin-top: 20px;height: 60%;"><img style="min-width: 310px;min-height: 140px;margin: 0 auto;border-color: none;" alt="image" src="assets/img/hr-admin-pic.jpg" width="310px" height="140px">
                <hr>
            </div>
            <div class="class-card-det" style="color: rgb(0,0,0);background: rgba(247,247,247,0);height: 30%;">
                <div class="d-flex" style="padding-right: 20px;padding-left: 20px;padding-top: 20px;"><label class="d-inline class-nbr" style="margin-right: 30px;width: 30%;font-size: 14px;"><strong>Class No.</strong></label><label class="d-inline class-nbr" style="margin-right: 30px;width: 50%;font-size: 14px;"><strong>Course Name</strong></label></div>
                <div
                    class="d-flex float-left" style="padding-right: 20px;padding-left: 20px;width: 80%;"><label class="d-inline class-nbr" style="margin-right: 30px;width: 43%;font-size: 12px;">Schedule</label><label class="d-inline class-nbr" style="margin-right: 30px;width: 40%;font-size: 12px;">No of Trainees</label></div>
            <div><i class="fa fa-pencil d-inline float-right" style="width: 10%;"></i></div>
        </div>
    </div>
    <div class="shadow-sm d-inline-block class-card">
        <div style="margin-right: 20px;margin-left: 20px;margin-top: 20px;height: 60%;"><img style="min-width: 310px;min-height: 140px;margin: 0 auto;border-color: none;" alt="image" src="assets/img/hr-admin-pic.jpg" width="310px" height="140px">
            <hr>
        </div>
        <div class="class-card-det" style="color: rgb(0,0,0);background: rgba(247,247,247,0);height: 30%;">
            <div class="d-flex" style="padding-right: 20px;padding-left: 20px;padding-top: 20px;"><label class="d-inline class-nbr" style="margin-right: 30px;width: 30%;font-size: 14px;"><strong>Class 201</strong></label><label class="d-inline class-nbr" style="margin-right: 30px;width: 50%;font-size: 14px;"><strong>Real Estate</strong></label></div>
            <div
                class="d-flex float-left" style="padding-right: 20px;padding-left: 20px;width: 80%;"><label class="d-inline class-nbr" style="margin-right: 30px;width: 43%;font-size: 12px;">Dec 1 - 8. 2020</label><label class="d-inline class-nbr" style="margin-right: 30px;width: 40%;font-size: 12px;">9:00 to 19:00</label></div>
        <div><i class="fa fa-pencil d-inline float-right" style="width: 10%;"></i></div>
    </div>
</div>
</div>
</div>