<!DOCTYPE html>

{{> trainer-navbar}}

<div style="padding: 20px;">
    <div><label class="h2" style="padding: 5px;color: #2c2c2c;"><strong>Classes</strong></label>
        <button type="button" class="myBtn" style="border: none;display:flex; margin-bottom: 10px; float: right; box-shadow: 1px 1px 5px rgba(0,0,0,0.2)"><i class="material-icons" style="color:#ffffff; font-size: 18px;">add</i><label style="margin-left: 3px;">Create Class</label></button>
        {{> create-class-modal}}
        <hr>
    </div>
    <div id="trainer-classes">
        <div class="shadow-sm d-inline-block class-card" style="padding: 20px; margin-right: 20px;">
            <div style="height: 60%;"><img style="min-width: 310px;min-height: 140px;margin: 0 auto;border-color: none;" alt="image" src="assets/img/hr-admin-pic.jpg" width="310px" height="140px">
            </div>
            
            <div class="class-card-det" style="color: rgb(0,0,0);background: rgba(247,247,247,0);height: 35%; margin-bottom: 10px;">
                <hr>
                <div class="d-flex">
                    <label class="d-inline class-nbr" style="width: 30%;font-size: 14px;"><strong>Class No.</strong></label><label class="d-inline class-nbr" style="width: 50%;font-size: 14px;"><strong>Course Name</strong></label>
                </div>
                <div class="d-flex">
                    <label class="d-inline class-nbr" style="width: 30%;font-size: 12px;">Schedule</label>
                    <label class="d-inline class-nbr" style="width: 50%;font-size: 12px;"># of Trainees</label>
                </div>
            </div>
        </div>
        <div class="shadow-sm d-inline-block class-card" style="padding: 20px; margin-right: 20px;">
            <div style="height: 60%;"><img style="min-width: 310px;min-height: 140px;margin: 0 auto;border-color: none;" alt="image" src="assets/img/hr-admin-pic.jpg" width="310px" height="140px">
            </div>
            
            <div class="class-card-det" style="color: rgb(0,0,0);background: rgba(247,247,247,0);height: 35%; margin-bottom: 10px;">
                <hr>
                <div class="d-flex">
                    <label class="d-inline class-nbr" style="width: 30%;font-size: 14px;"><strong>Class No.</strong></label><label class="d-inline class-nbr" style="width: 50%;font-size: 14px;"><strong>Course Name</strong></label>
                </div>
                <div class="d-flex">
                    <label class="d-inline class-nbr" style="width: 30%;font-size: 12px;">Schedule</label>
                    <label class="d-inline class-nbr" style="width: 50%;font-size: 12px;"># of Trainees</label>
                </div>
            </div>
        </div>
        <div class="shadow-sm d-inline-block class-card" style="padding: 20px; margin-right: 20px;">
            <div style="height: 60%;"><img style="min-width: 310px;min-height: 140px;margin: 0 auto;border-color: none;" alt="image" src="assets/img/hr-admin-pic.jpg" width="310px" height="140px">
            </div>
            
            <div class="class-card-det" style="color: rgb(0,0,0);background: rgba(247,247,247,0);height: 35%; margin-bottom: 10px;">
                <hr>
                <div class="d-flex">
                    <label class="d-inline class-nbr" style="width: 30%;font-size: 14px;"><strong>Class No.</strong></label><label class="d-inline class-nbr" style="width: 50%;font-size: 14px;"><strong>Course Name</strong></label>
                </div>
                <div class="d-flex">
                    <label class="d-inline class-nbr" style="width: 30%;font-size: 12px;">Schedule</label>
                    <label class="d-inline class-nbr" style="width: 50%;font-size: 12px;"># of Trainees</label>
                </div>
            </div>
        </div>
        
    </div>
</div>