<!DOCTYPE html>

{{> trainee-navbar}}

<div style="padding: 20px;">
    <div class="d-flex" style="margin: 20px;width: 100%;"><img class="rounded-circle d-block float-left" width="200px" height="200px" style="margin: 20px;" src="assets/img/hr-admin-pic.jpg">
        <div class="d-inline float-left d-xl-flex justify-content-xl-start align-items-xl-center"><label class="d-flex h2" style="padding: 5px;color: #2c2c2c;"><strong>Trainee Name</strong></label><label class="d-flex" style="color: rgb(0,0,0);padding: 5px;">#TRAINEEID</label></div>
        <div class="text-right d-inline-block float-right" style="margin: 0px 5px;padding: 5;"></div>
    </div>
    <div></div>
    <hr class="d-flex">
    <div></div>
</div>