<!DOCTYPE html>

<div id="verify">
    <div class="jumbotron">
        <h1><strong>The VA Hub</strong></h1>
        <h2>Verify your account.</h2>
        <p style="margin-top: 30px;">To complete your registration, please verify your email and click on the button below:</p>
        <p><a class="btn btn-primary btn-lg d-block" role="button" style="background: #009444;">Verify my Account</a></p>
        <p>Or paste this link into your browser: https://link.com</p>
        <p>If you did not create an account using this address, please ignore this and click here.</p>
    </div>
</div>