html {
  margin: 0 auto;
  height: 100%;
  font-family: "Raleway", sans-serif;
}

body {
  height: 100%;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

a {
  color: #a3a4a7;
  text-decoration: none;
  background-color: transparent;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #6dc63f;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.table-hover tbody tr:hover {
  color: #212529;
  background-color: #ebf5ee;
}

@media (min-width:576px) {
  .jumbotron {
    padding: 75px 300px;
  }
}

.process-label {
  margin-left: 0;
  float: left;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #6dc63f;
  border: 0px;
  background-color: #f7f7f7;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #6dc63f;
}

/* APP FORM STYLES */
* {
  box-sizing: border-box;
}

.form-style {
  background-color: #fff;
  color:#009444;
  margin: 20px auto;
  font-family: Raleway;
  padding: 40px;
  width: 45%;
  min-width: 300px;
  border-radius: 8px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

.appForm-clean {
  min-height: 100%; 
  padding: 20px 0px;
  background-color: #ebf5ee;
}

h1 {
  text-align: center; 
  font-weight: bold; 
}

input, .appdrop, .appoption {
  padding: 10px;
 /* width: 100%;*/
  font-size: 14px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
  text-align: center;
}

button:hover {
  opacity: 0.8;
}

#addSkill, #addCert {
  background-color: #f8f8f8;
  color: #4CAF50;
  border: solid;
  border-width: 1px;
  border-color: #4CAF50;
  border-radius: 8px;
  padding: 2px 4px;
  font-size: 10px;
  font-family: Raleway;
  cursor: pointer;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

.required {
  color: red; display: inline-block;
}

/* COLLAPSE STYLES */

.collapsible-check { 
  display: none; 
} 

.wrap-collabsible { 
  margin: 1.2rem 0; 
} 
.lbl-toggle { 
  font-weight: bold; 
  cursor: pointer; 
  transition: all 0.25s ease-out; 
} 

.lbl-toggle:hover { 
  color: #4CAF50; 
} 
.lbl-toggle::before { 
  content: ' '; 
  display: inline-block; 
  border-top: 5px solid transparent; 
  border-bottom: 5px solid transparent; 
  border-left: 5px solid currentColor; 
  vertical-align: middle; 
  margin-right: .7rem; 
  transform: translateY(-2px); 
  transition: transform .2s ease-out; 
} 

.toggle:checked+.lbl-toggle::before { 
  transform: rotate(90deg) translateX(-3px); 
} 

.collapsible-content { 
  max-height: 0px; 
  overflow: hidden; 
  transition: max-height .25s ease-in-out; 
} 

.toggle:checked + .lbl-toggle + .collapsible-content { 
  max-height: 350px; 
} 

.toggle:checked+.lbl-toggle {
 border-bottom-right-radius: 0; 
 border-bottom-left-radius: 0; 
} 

.collapsible-content .content-inner { 
  background: rgba(0, 105, 255, .2); 
  border-bottom: 1px solid rgba(0, 105, 255, .45); 
  border-bottom-left-radius: 7px; 
  border-bottom-right-radius: 7px; 
  padding: .5rem 1rem; 
} 

.collapsible-content p { 
  margin-bottom: 0; 
}