html {
  margin: 0 auto;
  height: 100%;
  font-family: "Raleway", sans-serif;
}

body {
  height: 100%;
  font-family: "Raleway", sans-serif;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

a {
  color: #a3a4a7;
  text-decoration: none;
  background-color: transparent;
}

.nav-item {
  padding-right: 15px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #6dc63f;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}


.table-hover tbody tr:hover {
  color: #212529;
  background-color: #ebf5ee;
}

@media (min-width:576px) {
  .jumbotron {
    padding: 75px 300px;
  }
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border-radius: 8px;
  padding: 7px 14px;
  font-size: 14px;
  font-family: Raleway;
  cursor: pointer;
  align-items: center;
}


.process-label {
  margin-left: 0;
  float: left;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #6dc63f;
  border: 0px;
  background-color: #f7f7f7;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #6dc63f;
}

.sched-list {
  height: 100%;
  width: 100%;
  display: block;
}
.sched-list:hover, .class-card:hover {
  background-color: #efefef;
}

.edit-class:hover {
  color: #ebf5ee;
}

.footer {
  position: fixed;
  left: -10px;
  bottom: 0px;
  width: 100%;
  font-size: 9px;
  text-align: right;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

button:disabled {
  opacity: 30%;
}